/* gray pallete: https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */
/* theme pallete: https://coolors.co/ef476f-ffd166-06d6a0-118ab2-073b4c */
:root {
    --gray-100: #f8f9faff; /* 100 */
    --gray-200: #e9ecefff; /* 200 */
    --gray-300: #dee2e6ff; /* 300 */
    --gray-400: #ced4daff; /* 400 */
    --gray-500: #adb5bdff; /* 500 */
    --gray-600: #6c757dff; /* 600 */
    --gray-700: #495057ff; /* 700 */
    --gray-800: #343a40ff; /* 800 */
    --gray-900: #212529ff; /* 900 */
    --dark-blue: #073B4C;
    --light-blue: #118AB2;
    --green: #06D6A0;
    --yellow: #FFD166;
    --red: #EF476F;
}

.text-gray-100 {color: var(--gray-100);}
.text-gray-200 {color: var(--gray-200);}
.text-gray-300 {color: var(--gray-300);}
.text-gray-400 {color: var(--gray-400);}
.text-gray-500 {color: var(--gray-500);}
.text-gray-600 {color: var(--gray-600);}
.text-gray-700 {color: var(--gray-700);}
.text-gray-800 {color: var(--gray-800);}
.text-gray-900 {color: var(--gray-900);}

.border-gray-400 {border: 1px solid var(--gray-400)}
.border-gray-500 {border: 1px solid var(--gray-500)}

body {
    color: var(--gray-900);
}

a {
    color: var(--gray-900);
    text-decoration: None;
}

p {
    font-size: 1.2rem;
}

p, span, a, input {
    font-family: "Nunito Sans", sans-serif;
}
h1, h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif;
}


section {
    padding: 6.25rem 0;
    overflow-x: hidden;
}

/*https://www.w3schools.com/howto/howto_css_hero_image.asp*/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/img/neom-e-unsplash.jpg');
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    transition: 200ms;
    margin-top: 1rem;
    padding: 0.6rem 2.4rem;
    font-size: 1.6rem;
}

.hero-text button:hover {
    background: var(--gray-300);
    color: var(--gray-800);
}

.background-gray-200 {
    background: var(--gray-200);
}

.background-gray-300 {
    background: var(--gray-300);
}

.featured-home-post-image {
    width: 100%;
}

.featured-home-post-author {
    color: var(--gray-600);
    font-weight: 400;
}

.featured-home-post-author img {
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

.featured-home-post-author span {
    padding: 0 0.1rem;
}

.last-section-posts-image {
    width: 100%;
}

.footer-image {
    width: 100px;
}

.tags-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.tags-container div {
    margin-bottom: 16px;
}

.tags-container div a.tag {
    border-radius: 16px;
    margin: 1rem 0;
    color: #6c757dff;
}

.tags-container div a.tag:hover {
    cursor: pointer;
    color: #118AB2;
}

.icon-prev, .icon-next {
    color: #6c757dff;
    font-size: 2rem;
    border: 1px solid #adb5bdff;
    border-radius: 50%;
    padding: 0.3rem 1.1rem;
}

.icon-prev {
    margin-right: 2rem;
}

.icon-next {
    margin-left: 2rem;
}

.user-comment-image {
    width: 56px;
    border-radius: 50%;
}

/* https://stackoverflow.com/questions/32355009/changing-pagination-colour-bootstrap */
.pagination > li > a
{
    background-color: white;
    color: var(--dark-blue);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: var(--dark-blue) !Important;
    border: solid 1px var(--dark-blue) !Important;
}

.pagination > .active > a:hover
{
    background-color: var !Important;
    border: solid 1px var;
}